.content {
  padding-bottom: 12rem;
  padding-top: 4rem;
}

.wrapper1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.wrapper2 {
  padding: 30px;
  text-align: center;
}

.wrapper2 h1 {
  font-size: 4em;
  letter-spacing: 3px;
  color: #5892ff;
  margin: 0;
  margin-bottom: 20px;
}
.wrapper2 p {
  margin: 0;
  font-size: 1.3em;
  color: #aaa;
  letter-spacing: 1px;
}

.goHome {
  margin: 30px 0;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--white);
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #1976d2d1;
  margin-bottom: 12rem;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}

.goHome:hover {
  background-color: #1976d2;
}

.footerLike {
  margin-top: auto;
  background: #d7e6fe;
  padding: 6px;
  text-align: center;
  border-radius: 0rem 0rem 1rem 1rem;
}
.footerLike p {
  margin: 0;
  padding: 4px;
  color: #5892ff;
  letter-spacing: 1px;
}
.footerLike p a {
  text-decoration: none;
  color: #5892ff;
  font-weight: 600;
}

@media (min-width: 360px) {
  .goHome {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }
  .wrapper1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 6px 5px 3px 6px hsla(var(--second-hue), 48%, 8%, 0.05);
  }
}
