@font-face {
  font-family: Exo;
  src: url(./fonts/Exo2.0-Medium.otf);
}
.main {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_card {
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  margin: 0 25px;
}
.profile_card:hover {
  border-radius: 10px;
  height: 260px;
}
.profile_card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}
.profile_card:hover .img {
  transform: translateY(-60px);
}
.img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.893);
}
.profile_card:hover img {
  border-radius: 10px;
}
.caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}
.profile_card:hover .caption {
  opacity: 1;
}
.caption h3 {
  font-size: 21px;
}
.caption p {
  font-size: 16px;
  color: white;
  margin: 2px 0 9px 0;
  background-color: green;
  border-radius: 10rem;
}
.caption .social_links a {
  color: rgba(0, 0, 0, 0.779);
  margin-right: 8px;
  font-size: 21px;
  transition: 0.6s;
}
.social_links a:hover {
  color: rgb(0, 132, 255);
}

.team {
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}
