.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 1em;
}

h1 {
  font-size: 2em;
  color: #262626;
  text-align: center;
}

/* 


.card {
  margin-left: 7%;
  display: inline-block;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 0px;
  background-color: #fff;
  color: #262626; 
  padding: 16px;
} */
