.container {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  box-shadow: 10px 10px 2px 8px hsla(var(--second-hue), 48%, 8%, 0.03);
  margin-bottom: 6rem;
  border: solid;
  border-color: hsla(var(--second-hue), 48%, 8%, 0.02);
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1.5rem;
}

.accordions {
  width: 60%;
}

.section__subtitle {
  color: var(--body-color);
}

.section__description {
  color: #000000ba;
  font-size: var(--small-font-size);
}

.section__title {
  font-size: var(--h2-font-size);
  color: #1976d2;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .accordions {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .accordions {
    width: 90%;
  }
}

@media screen and (max-width: 370) {
  .container {
    width: 95%;
  }
}
