.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  padding-top: 3rem;
}
.card {
  padding: 1em;
}
.card:hover {
  transform: translateY(-5px);
}

.section__title {
  font-size: var(--h2-font-size);
  color: #1976d2;
  text-align: center;
}
