.cardsContainer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* width: 90%; */
  justify-self: center;
  justify-items: center;
}
.container {
  z-index: -1;
}
.card {
  padding: 1em;
}
.card:hover {
  transform: translateY(-5px);
}

.section__title {
  font-size: var(--h2-font-size);
  color: #1976d2;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 575px) {
  .cardsContainer {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 450px) {
  .cardsContainer {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 300px) {
  .cardsContainer {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
