.headerSearchItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchText {
  align-content: center;
  color: #333333;
  cursor: pointer;
}

.headerSearchDate {
  position: absolute;
  top: 4em;
  left: -6em;
  z-index: 2;
}
