.alert{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(185, 28, 28);
    font-weight: 700;
    padding: 0.75rem;
    text-transform: uppercase;
    width: 100%;
    border: none;
    height: 25%;
    font-size: x-small;
    
}